extends layout

block content
  h2 Formulaire

  form(action="/check-form", method="post")
    label(for="nom") Nom :
    input#nom(type="text", name="nom")

    br

    label(for="prenom") Prénom :
    input#prenom(type="text", name="prenom")

    br

    button(type="submit") Confirmer
