doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Facing World
  body
    h1 Welcome to Facing World
    h2!= contentBienvenue
    h2!= contentWelcome
    input#datepicker(type="text")
div(id="test")
    script(type="module", src="/client/src/pug-entry.js")

   
