doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Facing World
  body
    header 
    h1 facing worlds

    nav 
    ul 
      li 
        a(href="/") Acceuil
      li 
        a(href="/contact") Contact
    

    block content

